*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{

    background:#050816;

    color:#ffffff;

    overflow-x:hidden;

}



/* =====================
NAVBAR
===================== */


header{

    position:fixed;

    top:0;

    width:100%;

    z-index:1000;

}


.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:rgba(5,8,22,0.7);

    backdrop-filter:blur(15px);

}



.logo{

    font-size:32px;

    font-weight:800;

    color:white;

}


.logo span{

    color:#00f5ff;

}



.nav-links{

    display:flex;

    gap:30px;

    list-style:none;

}



.nav-links a{

    text-decoration:none;

    color:white;

    font-weight:500;

    transition:.3s;

}


.nav-links a:hover{

    color:#00f5ff;

}



.menu-btn{

    display:none;

    font-size:30px;

    cursor:pointer;

}

.navbar{
    box-shadow:0 5px 20px rgba(0,245,255,.15);
}




/* =====================
HERO SECTION
===================== */


.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:120px 20px 50px;

    background:

    radial-gradient(circle at top,#1e3a8a,#050816 50%);

}



.hero-content{

    max-width:900px;

}




.profile-box img{

    width:170px;

    height:170px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #00f5ff;

    box-shadow:

    0 0 30px #00f5ff;

    animation:float 3s infinite;

}



@keyframes float{

    50%{

        transform:translateY(-15px);

    }

}




.hero h1{

    margin-top:30px;

    font-size:55px;

}



.hero h1 span{

    color:#00f5ff;

}



.hero h2{

    margin:20px 0;

    color:#38bdf8;

    min-height:40px;

}



.hero p{

    color:#cbd5e1;

    font-size:20px;

    margin:20px;

}

.hero{
    position:relative;
    overflow:hidden;
}




/* BUTTONS */


.btn{

    padding:15px 35px;

    margin:10px;

    border:none;

    border-radius:30px;

    background:linear-gradient(90deg,#00f5ff,#2563eb);

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}



.btn:hover{

    transform:translateY(-5px);

    box-shadow:0 0 25px #00f5ff;

}




.outline{

    background:transparent;

    border:2px solid #00f5ff;

}






/* COMMON SECTION */


.section{

    padding:80px 8%;

}



.title{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;

    color:#00f5ff;

}




/* ABOUT */


.about-card{

    max-width:800px;

    margin:auto;

    padding:35px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:25px;

    line-height:1.8;

    box-shadow:0 0 30px rgba(0,245,255,.1);

}
 
/* =====================
SKILLS SECTION
===================== */


.skills-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));

    gap:25px;

}



.skill-card{

    padding:30px;

    text-align:center;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:20px;

    border:1px solid rgba(255,255,255,.1);

    transition:.4s;

}



.skill-card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 25px #00f5ff;

}



.skill-card h3{

    font-size:22px;

    color:#38bdf8;

}



.skill-card p{

    margin-top:15px;

    font-size:18px;

}

 


/* =====================
SERVICES
===================== */


.services-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

}



.service-card{

    padding:30px;

    background:

    linear-gradient(
    145deg,
    rgba(255,255,255,.1),
    rgba(255,255,255,.03)
    );


    border-radius:25px;

    transition:.4s;

}



.service-card:hover{

    transform:scale(1.05);

    box-shadow:0 0 30px rgba(0,245,255,.4);

}



.service-card h3{

    color:#00f5ff;

    margin-bottom:15px;

}



.service-card p{

    color:#cbd5e1;

}





/* =====================
PROJECTS
===================== */


.projects-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}



.project-card{

    padding:30px;

    border-radius:25px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    transition:.4s;

}



.project-card:hover{

    transform:translateY(-12px);

    box-shadow:
    0 0 35px rgba(0,245,255,.3);

}



.project-card h3{

    color:#38bdf8;

    font-size:24px;

    margin-bottom:15px;

}



.project-card p{

    color:#cbd5e1;

    line-height:1.6;

}



.tech{

    margin:20px 0;

    color:#00f5ff;

    font-weight:600;

}



.project-btn{

    display:inline-block;

    padding:10px 25px;

    background:#2563eb;

    color:white;

    border-radius:25px;

    text-decoration:none;

    transition:.3s;

}



.project-btn:hover{

    background:#00f5ff;

    color:black;

}





/* =====================
CONTACT
===================== */


.contact-box{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:40px;

}



form input,
form textarea{


    width:100%;

    padding:15px;

    margin:10px 0;

    border:none;

    outline:none;

    border-radius:12px;

    background:#1e293b;

    color:white;

    font-size:16px;

}



.social-links{

    display:flex;

    flex-direction:column;

    gap:15px;

}



.social-links a{

    text-decoration:none;

    color:#ffffff;

    padding:15px;

    background:#1e293b;

    border-radius:12px;

    transition:.3s;

}



.social-links a:hover{

    background:#00f5ff;

    color:black;

}





/* =====================
FOOTER
===================== */


footer{

    text-align:center;

    padding:40px 20px;

    background:#020617;

}



footer h2{

    color:#00f5ff;

}



footer p{

    color:#94a3b8;

    margin-top:10px;

}





/* =====================
TOP BUTTON
===================== */


#topBtn{

    position:fixed;

    right:25px;

    bottom:25px;

    width:45px;

    height:45px;

    border-radius:50%;

    border:none;

    background:#00f5ff;

    color:black;

    font-size:20px;

    cursor:pointer;

    display:none;

}
 
/* =====================
ANIMATIONS
===================== */


.section{

    animation:fadeUp 1s ease;

}



@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}





/* =====================
MOBILE RESPONSIVE
===================== */


@media(max-width:768px){


.navbar{

    padding:20px;

}



.nav-links{

    position:absolute;

    top:80px;

    left:0;

    width:100%;

    background:#050816;

    flex-direction:column;

    text-align:center;

    padding:30px;

    display:none;

}



.nav-links.active{

    display:flex;

}



.menu-btn{

    display:block;

}



.hero h1{

    font-size:38px;

}



.hero h2{

    font-size:22px;

}



.hero p{

    font-size:16px;

}



.profile-box img{

    width:140px;

    height:140px;

}



.title{

    font-size:32px;

}



.section{

    padding:60px 20px;

}



.skills-container,
.services-container,
.projects-container{

    grid-template-columns:1fr;

}



.about-card{

    padding:25px;

}



.btn{

    width:90%;

}



}






/* =====================
GLOW EFFECT
===================== */


.hero::before{

    content:"";

    position:absolute;

    width:300px;

    height:300px;

    background:#00f5ff;

    filter:blur(150px);

    opacity:.3;

}





/* =====================
SMOOTH HOVER
===================== */


a,
button{

    -webkit-tap-highlight-color:transparent;

}
.skill-card:hover,
.service-card:hover,
.project-card:hover,
.course-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:
        0 0 20px rgba(0,245,255,.5),
        0 0 40px rgba(0,245,255,.25);
}




/* =====================
SELECTION COLOR
===================== */


::selection{

    background:#00f5ff;

    color:#000;

}
/* =========================
   COURSES PAGE DESIGN
========================= */

.course-hero{

    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    border-radius:25px;
    margin:30px auto;
    max-width:1000px;

}


.course-hero h1{

    font-size:45px;
    margin-bottom:15px;

}


.course-hero h2{

    color:#38bdf8;
    font-size:28px;

}


.course-hero p{

    color:#cbd5e1;
    font-size:18px;

}





.course-container{

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    
    gap:25px;
    max-width:1100px;
    margin:auto;

}




.course-card{

    background:#1e293b;
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.2);

}



.course-card:hover{

    transform:translateY(-8px);

}



.course-card h2{

    color:#38bdf8;
    margin-bottom:15px;

}



.course-card p{

    color:#cbd5e1;
    line-height:1.6;

}




.course-btn{

    display:inline-block;
    margin:8px;
    padding:12px 18px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-family:Poppins;
    transition:.3s;

}



.course-btn:hover{

    background:#1d4ed8;
    transform:scale(1.05);

}





@media(max-width:600px){


.course-hero h1{

    font-size:32px;

}


.course-hero h2{

    font-size:22px;

}


.course-card{

    padding:20px;

}


}
body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:
      radial-gradient(circle at top left, rgba(0,245,255,.18), transparent 30%),
      radial-gradient(circle at top right, rgba(37,99,235,.18), transparent 30%),
      linear-gradient(180deg, #050816, #0f172a);
    color:#fff;
    overflow-x:hidden;
    position:relative;
}
.skill-card, .service-card, .project-card, .about-card, .course-card{
    background:rgba(255,255,255,.07);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.1);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}
.logo{
    animation:logoGlow 2.5s ease-in-out infinite alternate;
}

@keyframes logoGlow{
    from{
        text-shadow:0 0 8px #00f5ff;
    }
    to{
        text-shadow:0 0 20px #00f5ff,0 0 40px #2563eb;
    }
}.stars{
    position:fixed;
    inset:0;
    background-image:radial-gradient(white 1px, transparent 1px);
    background-size:50px 50px;
    opacity:.15;
    animation:moveStars 60s linear infinite;
    pointer-events:none;
    z-index:-2;
}

@keyframes moveStars{
    from{transform:translateY(0);}
    to{transform:translateY(-300px);}
}
body{
    background:#050816;
    color:#fff;
    overflow-x:hidden;
    position:relative;
}

body::before,
body::after{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:0;
}

body::before{
    background:
      radial-gradient(circle at 20% 20%, rgba(0,245,255,.25), transparent 25%),
      radial-gradient(circle at 80% 70%, rgba(37,99,235,.20), transparent 30%);
    animation: glowMove 10s ease-in-out infinite alternate;
}

@keyframes glowMove{
    from{
        transform:translate(0,0);
    }
    to{
        transform:translate(40px,-30px);
    }
}

header,
.hero,
.section,
footer{
    position:relative;
    z-index:1;
}
