*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{

    background:#050816;

    color:#ffffff;

    overflow-x:hidden;

}



/* =====================
NAVBAR
===================== */


header{

    position:fixed;

    top:0;

    width:100%;

    z-index:1000;

}


.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:rgba(5,8,22,0.7);

    backdrop-filter:blur(15px);

}



.logo{

    font-size:32px;

    font-weight:800;

    color:white;

}


.logo span{

    color:#00f5ff;

}



.nav-links{

    display:flex;

    gap:30px;

    list-style:none;

}



.nav-links a{

    text-decoration:none;

    color:white;

    font-weight:500;

    transition:.3s;

}


.nav-links a:hover{

    color:#00f5ff;

}



.menu-btn{

    display:none;

    font-size:30px;

    cursor:pointer;

}






/* =====================
HERO SECTION
===================== */


.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:120px 20px 50px;

    background:

    radial-gradient(circle at top,#1e3a8a,#050816 50%);

}



.hero-content{

    max-width:900px;

}




.profile-box img{

    width:170px;

    height:170px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #00f5ff;

    box-shadow:

    0 0 30px #00f5ff;

    animation:float 3s infinite;

}



@keyframes float{

    50%{

        transform:translateY(-15px);

    }

}




.hero h1{

    margin-top:30px;

    font-size:55px;

}



.hero h1 span{

    color:#00f5ff;

}



.hero h2{

    margin:20px 0;

    color:#38bdf8;

    min-height:40px;

}



.hero p{

    color:#cbd5e1;

    font-size:20px;

    margin:20px;

}






/* BUTTONS */


.btn{

    padding:15px 35px;

    margin:10px;

    border:none;

    border-radius:30px;

    background:linear-gradient(90deg,#00f5ff,#2563eb);

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}



.btn:hover{

    transform:translateY(-5px);

    box-shadow:0 0 25px #00f5ff;

}




.outline{

    background:transparent;

    border:2px solid #00f5ff;

}






/* COMMON SECTION */


.section{

    padding:80px 8%;

}



.title{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;

    color:#00f5ff;

}




/* ABOUT */


.about-card{

    max-width:800px;

    margin:auto;

    padding:35px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:25px;

    line-height:1.8;

    box-shadow:0 0 30px rgba(0,245,255,.1);

}
